@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Formatting of logo, header and menu*/

.header {
    height: 200px;
    width: 100%;
    padding: 0 8%;
    background: #fff8f0;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

/*Title Text*/
.title {
    font-family: Source Sans Pro, sans-serif;
    font-size: 175%;
    color: #402e32;
    margin-top: 0;
    text-decoration: none;
    text-align: center;
    position: relative;
}

.menu {
    padding: 28px 0;
    margin-right: 100px;
}

.menu li {
    font-family: Source Sans Pro, sans-serif;
    font-size: 100%;
    color: #402e32;
    display: inline-block;
    margin: 0 5px;
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    color: #402e32;
    padding: 5px 0; 
    position: relative;
}

.menu li a::after {
    content: '';
    background: #402e32;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.menu li a:hover::after {
    width: 100%;
}




/*Logo*/
#logo {
    float: left;
    margin-left: 30px;
    position: absolute;
}

/*Navigation links*/
#menu {
    font-family: Source Sans Pro, sans-serif;
    font-size: 100%;
    letter-spacing: 2px;
    float: right;
    margin-right: 30px;
    line-height: 75px;
}

#menu li {
    float: right;

}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #c09336;
}
